/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #211e1e;
  color: #fff;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
}

/* First Section */
.first-section .container {
  text-align: center;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.1); /* Transparent effect */
  border-radius: 10px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.first-section h2 {
  color: #4caf50;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.first-section p {
  color: #dcdcdc;
  font-size: 1rem;
}

/* Second Section */
.second-section {
  margin: 40px auto;
  max-width: 800px;
}

.second-section h2 {
  color: #4caf50;
  font-size: 1.8rem;
  text-align: left;
  margin-bottom: 20px;
}

.second-section p {
  color: #dcdcdc;
  font-size: 1rem;
  text-align: left;
}

.second-section ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  margin-top: 20px;
}

.second-section ul li {
  font-size: 1rem;
  color: #fff;
  margin: 10px 0;
}

.second-section ul li strong {
  color: #4caf50;
}
/* Third Section */
.third-section {
  margin: 40px auto;
  max-width: 800px;
  text-align: left;
  color: #dcdcdc;
  font-size: 1rem;
}

.third-section h2 {
  color: #4caf50;
  text-align: left;
  font-size: 1.8rem;
  margin: 20px 0;
}

.third-section h3 {
  color: #4caf50;
  font-size: 1.3rem;
  margin: 15px 0;
}

.third-section p {
  margin: 10px 0;
  line-height: 1.6;
}

.third-section ul {
  list-style-type: none;
  padding: 0;
}

.third-section ul li {
  margin: 10px 0;
  font-size: 1rem;
}

.third-section ul li strong {
  color: #4caf50;
}

.cta-button {
  display: inline-block;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #ed433d;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.cta-button:hover {
  background-color: #3a332b;
  color: #fff;
  text-decoration: none;
}
